extend layout/header.pug
block content
    #app
        .container
            .card
                ul.nav.nav-pills.nav-fill
                    li.nav-item
                        a.nav-link.h2(href='#' @click="visibility = 'all'" :class="{'active': visibility == 'all'}") 
                            | My Todos&nbsp&nbsp 
                            span.badge.badge-danger.badge-pill
                                | {{allLen}}
                    li.nav-item
                        a.nav-link.h2(href='#' @click="visibility = 'progress'" :class="{'active': visibility == 'progress'}") 
                            | In Progress&nbsp&nbsp 
                            span.badge.badge-danger.badge-pill
                                | {{progressLen}}
                    li.nav-item
                        a.nav-link.h2(href='#' @click="visibility = 'completed'" :class="{'active': visibility == 'completed'}") 
                            | Completed&nbsp&nbsp 
                            span.badge.badge-danger.badge-pill
                                | {{completedLen}}
                .card
                    form#form
                        .card-header.bg-primary
                                input#inputTitle.form-control.border-0(type='text', placeholder='Type Something Here…' v-model="newTodos")
                        .card-body
                                label(for='inputdata') DateTime
                                .form-row
                                    .form-group.col-md-6
                                        input#inputdata.form-control(type='date' v-model="newTodoDate")
                                    .form-group.col-md-6
                                        input.form-control(type='time' v-model="newTodoTime")
                                .form-group
                                    label(for='inputComment') Comment
                                    input#inputComment.form-control(type='text', placeholder='Apartment, studio, or floor' v-model="newTodoComment")
                                .form-row
                                    .form-group.col-md-6
                                        button.btn.btn-outline-danger.btn-block.btn-lg(type='button') Cancel
                                    .form-group.col-md-6
                                        button.btn.btn-outline-primary.btn-block.btn-lg(type='button' @click="addTodo") Add Todos
                .card-footer
                    ul.list-group
                        li.list-group-item.list-group-item-secondary(v-for="item in filterTodoList")
                            .row(@dblclick="editTodos(item)")
                                .col-md-10(v-if="item.id !== cacheTodoId")
                                    input(type='checkbox', :id='item.id' v-model="item.completed" @click="countTodoList,updataTodo")
                                    label.todo-completed.h4(:for="item.id" :class="{'completed': item.completed}") {{item.title}}
                                .col-md-10(v-if="item.id == cacheTodoId")
                                    input.form-control(type='text', v-model='cacheTitle' @keyup.esc="cancelEdit()" @keyup.enter="doneEdit(item)")
                                .col-md-2.text-right
                                    a(href='#' @click.prevent="removeTodo(item),countTodoList" :id="item.id").fas.fa-trash-alt
                                .col-md-6
                                    .far.fa-calendar-alt.btn.btn-outline-primary.disabled(v-if="item.todoDate && item.todoTime")
                                        |  {{item.todoDate}}||{{item.todoTime}}
                                .col-md-6
                                    .far.fa-comment.btn.btn-outline-primary.disabled(v-if="!item.comment == ''")
                                        | {{item.comment}}
                    .text-right
                        a(href='#' @click.prevent="allRemove") 清除所有任務
                        br
                        p ※支援紀錄本機瀏覽器。
    .loading
        .box1.d-center
            .box-text T
        .box2.d-center
            .box-text O
        .box3.d-center
            .box-text D
        .box4.d-center
            .box-text O
    script(src="js/vendors.js")
    script(src='js/all.js')

